<div class="container mb-5">
  <!-- Banner Image -->
  <div class="row">
    <img src="assets/images/banner.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
  </div>

  <!-- Heading -->
  <div class="row text-center">
    <h1>Our Products</h1>
  </div>

  <!-- Product Count -->
  <div class="row bg-secondary rounded text-center text-white py-3">
    <h2>Total Products: {{ getproductNumber() }}</h2>
  </div>

  <!-- Filter Form -->
  <div class="row my-4">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-3">Filter Products</h5>
          <div class="row g-3 align-items-end" >
            <!-- Category Dropdown -->
            <div class="col-md-4">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" id="category" #categoryInput>
                <option value="All">All</option>
                <option *ngFor="let category of categories " [value]="category.name">{{category.name}}</option>
              </select>
            </div>

            <!-- Product Title Search -->
            <div class="col-md-4">
              <label for="title" class="form-label">Product Title</label>
              <input type="text" class="form-control" id="title" #titleInput placeholder="Search by title...">
            </div>

            <!-- Max Price -->
            <div class="col-md-4">
              <label for="maxPrice" class="form-label">Max Price ($)</label>
              <input type="number" class="form-control" id="maxPrice" #priceInput placeholder="Enter max price">
            </div>

            <!-- Apply Button -->
            <div class="col-12">
              <button type="submit" class="btn btn-dark w-100" (click)="applyFilters(categoryInput.value, titleInput.value, priceInput.value)">Apply</button>
              
            </div>
            <div class="col-12 align-items-center">
              <button type="submit" class="btn btn-secondary w-100" (click)="resetFilters()">Reset</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Current Filter Values -->
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5>Current Filter Values</h5>
          <div class="row">
            <div class="col-md-4">
              <h6>Category: {{ selectedCategory }}</h6>
            </div>
            <div class="col-md-4">
              <h6>Title Search: {{ selectedTitle || 'None' }}</h6>
            </div>
            <div class="col-md-4">
              <h6>Max price: {{ selectedMaxPrice || 'None'}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-4">
  <div class="col" *ngFor="let product of products | productFilter:selectedCategory:selectedTitle:selectedMaxPrice">
    <div class="card h-100">
      <img src={{product.images[0]}} class="card-img-top img-fluid fixed-img" alt="{{ product.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">
          <strong>Category:</strong> {{ product.category }}<br>
          <strong>Description:</strong> {{ product.description.substring(0,100) }}<br>
          <strong>Stock:</strong> {{ product.stock }}<br>
          <strong>Price:</strong> ${{ product.price }}
        </p>
        <p class="card-text">
        <span *ngFor="let star of product.rating | ratingTostars">
          <i class="bi bi-star-fill text-warning" *ngIf="star.full"></i>
          <i class="bi bi-star-half text-warning" *ngIf="star.half"></i>
          <i class="bi bi-star text-warning" *ngIf="star.empty"></i>
        </span>
      </p>
        <a [routerLink]="['/products', product.id]" class="btn btn-outline-dark btn-sm m-3">View Details</a>
        <button (click)="addToCart(product)" class="btn btn-secondary btn-sm">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

</div>
