<footer class="bg-dark text-white" data-bs-theme="dark">
  <div class="container text-center">
  <div class="row align-items-around">
    <div class="col">
      <div class="row">ProductApp</div>
      <div class="row">Your one stop for great products</div>
    </div>
    <div class="col">
      
      <h5>Quick Links</h5>
      <a class="nav-link text-white" href="#">Home</a>
      <a class="nav-link text-white" href="#">Products</a>
      <a class="nav-link text-white" href="#">About</a>
      <a class="nav-link text-white" href="#">Contacts</a>
    </div>
    <div class="col">
      Follow Us
    </div>
  </div>
</div>
</footer>