<div class="card h-100 w-100 m-5">
  <div class="card-body d-flex">
    
    <div class="me-3">
      <img src={{product.images[0]}}  class="img-fluid" >
    </div>
    
    <div class="d-flex flex-column  flex-grow-1">
      
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text fw-bold text-success mb-2">${{ product.price }}</p>
      <p class="card-text mb-2">{{ product.description }}</p>
      
      
      <p class="card-text mb-2">
        <span *ngFor="let star of product.rating | ratingTostars">
          <i class="bi bi-star-fill text-warning" *ngIf="star.full"></i>
          <i class="bi bi-star-half text-warning" *ngIf="star.half"></i>
          <i class="bi bi-star text-warning" *ngIf="star.empty"></i>
        </span>
      </p>
      <p class="card-text mb-2">
        <small class="text-muted">
          Stock: {{ product.stock }}  
        </small><br>
        <small class="text-muted">
          Brand: {{ product.brand }}
        </small>
      </p>
      
      <button class="btn btn-dark w-100 mt-auto" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>